#
# IRDA MC96FR116R configuration
#


config IRDA_MC96FR116R
	tristate "IRDA_MC96FR116R"
	help
	  Say Y here if you have a IRDA MC96FR116R and want to enable
	  support for the built-in touchscreen.

	  If unsure, say N.

	  To compile this driver as a module, choose M here: the
	  module will be called hall MC96FR116R.

